.WeatherForecast {
  margin-top: 20px;
}

.col {
  text-align: center;
}

.WeatherForecast .iconMini {
  width: 48px;
  margin: 0;
}

.WeatherForecast .MaxTemp {
  margin-left: 5px;
  opacity: 0.6;
}
